.progress-section {
  background-color: white;
  height: 40vh;
  overflow-y: auto;
  padding: 20px;
}
.progress-title{
  border-bottom: 2px solid #e8ecff;
  margin-bottom: 1.5rem;
}
.progress-section h3 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.2rem;
}

.progress-item {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  background: #f8f9ff;
  border-left: 3px solid #6b46c1;
  align-items: center;
  justify-content: space-between;
}

.progress-item.completed {
  background: linear-gradient(135deg, #ecfdf5, #d1fae5);
  color: #2d7d32;
  border-left: 3px solid #4caf50;
}

.progress-item.active {
  background: #fff3cd;
  color: #856404;
  border-left: 3px solid #ffc107;
}

.progress-item.inactive {
  background: #f8f9ff;
  color: #6b46c1;
}

.check-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4caf50;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}